.lang {
    display: flex;
    list-style: none;
    padding-left: 0;

    & a {
        text-decoration: none;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 5px 7px;
        border-radius: 8px;
    }

    & a.active {
        background: $button-bg-color;
    }

    & a:hover {
        background: $button-bg-color;
    }

    @media (min-width: 768px) {
        margin-right: 6px;
    }

}