.menu {
    margin-top: 5px;

    &__list {
        display: none;
        position: absolute;
        left: 0;
        top: auto;
        list-style: none;
        padding: 0 12px 12px 12px;
        background: $menu-list-bg;
        border-radius: 12px;
        width: 100%;
        height: calc(100vh - 250px);
        overflow: auto;

    }

    &__list.active {
        display: block;
    }

    &__list a {
        text-align: center;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: $links-btn-color;
        padding: 7px 120px;
        margin-top: 15px;
        background: $menu-list-link;
        border-radius: 12px;
        display: block;
    }

    &__btn {
        background-image: url(../img/btn-burger.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        margin-top: 11px;
        width: 32px;
        height: 32px;
        padding: 0 5px;
        border: none;
        border-radius: 8px;
        background-color: transparent;
        cursor: pointer;
    }

    &__btn.close {
        background-image: url(../img/close-burger.svg);
    }

    &__btn:active {
        background: $dots-grey-color;

    }

    @media (min-width: 768px) {
        grid-column: 3 / -2;
        grid-row: 3;
        padding: 0 45px;

        &__btn {
            display: none;
        }

        & {
            position: static;
        }

        &__list {
            position: static;
            background: none;
            display: flex;
            list-style: none;
            padding: 0;
            height: auto;
            margin-top: 5px;
        }

        &__list li {
            padding: 0;
            margin: 0;
        }

        &__list a {
            background: none;
            padding: 0;
            text-decoration: none;
            font-weight: 700;
            font-size: 16px;
            line-height: 20px;
            color: $text-color;
            margin-right: 16px;
            width: auto;
        }

    }

    @media (min-width: 991px) {
        margin-top: -40px;
        padding-right: 0;

        & {
            justify-self: end;
        }

        &__list {
            margin-top: 0;
            white-space: nowrap;
        }

        &__list a {

            margin-right: 0;
            margin-left: 16px;

        }
    }

}