.slider-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    &__btn {
        content: '';
        cursor: pointer;
        border: none;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: #24A3FF;
        opacity: 0.2;
        margin-right: 7px;
        margin-left: 7px;
    }

    &__btn.active {
        opacity: unset;
    }
}