@import 'variables';
@import 'mixins';

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Montserrat', sans-serif, 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    @include background-with-gradient;
    border-radius: 0 0 12px 12px;
    position: relative;


    &::after {
        content: '';
        height: 10px;
        background: $bg-after;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
    }

    &::before {
        content: '';
        height: 10px;
        background: $bg-before;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -20px;
    }

    @media (min-width: 768px) {
        background-size: 893px 1024px, cover;
    }

    @media (min-width: 991px) {
        background-size: 669px 768px, cover;
    }

    @media (min-width: 1200px) {
        background-size: 697px 799px, cover;

    }
}

.publ-bg {
    background: $publ-bg;
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}