* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

.body {
    font-family: 'Montserrat', sans-serif, 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    background: url(../img/background.svg) no-repeat center top,
        linear-gradient(254deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%) no-repeat;
    border-radius: 0 0 12px 12px;
    position: relative;

    &::after {
        content: '';
        height: 10px;
        background: #CACADB;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: -10px;
    }

    &::before {
        content: '';
        height: 10px;
        background: #E7E7F2;
        border-radius: 0px 0px 12px 12px;
        position: absolute;
        left: 40px;
        right: 40px;
        bottom: -20px;
    }

    @media (min-width: 768px) {
        background-size: 893px 1024px, cover;
    }

    @media (min-width: 1024px) {
        background-size: 669px 768px, cover;
    }

    @media (min-width: 1200px) {
        background-size: 697px 799px, cover;

    }
}

.img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}