.logo-box {
    margin-top: 15px;
    display: flex;
    @media (min-width: 768px) {
        & {
            margin-top: 25px;
        }
        &__link img {
            width: 130px;
            height: auto;
        }
    }
    @media (min-width: 1024px) {
        grid-row: 1 /-1;
        grid-column: 1;
    }
}